<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Application Aigle</title>
        
        <!-- Inclusion des styles -->
        <th:block th:replace="fragments/head-scripts :: styles"></th:block>
    </head>
    <body>
        
        <!-- Inclusion du menu -->
        <th:block th:replace="fragments/menu :: menu"></th:block>
        
        <main class="container" th:fragment="content">
            <th:block th:insert="~{::content}">
                <!-- This is where the content of the page will be inserted -->
            </th:block>
        </main>

        <!-- Inclusion des scripts -->
        <th:block th:replace="fragments/head-scripts :: scripts"></th:block>
    </body>
</html>

