<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content, extraStyles, extraScripts)">
<head>
    <meta charset="UTF-8">
    <title>Application Aigle</title>

    <!-- Styles globaux + page -->
    <th:block th:replace="fragments/head-scripts :: styles(extraStyles=${extraStyles})"></th:block>
</head>
<body>

    <!-- Menu -->
    <th:block th:replace="fragments/menu :: menu"></th:block>

    <!-- Contenu principal -->
    <main class="container mt-6">
        <th:block th:replace="${content}"></th:block>
    </main>

    <!-- Scripts globaux + page -->
    <th:block th:replace="fragments/head-scripts :: scripts(extraScripts=${extraScripts})"></th:block>

</body>
</html>

